
@font-face {
    font-family: "Alamain";
    src: url(../fonts/alamain1.ttf);
}
@font-face {
    font-family: "Bodoni";
    src: url(../fonts/BodoniXT.ttf);
}

@font-face {
    font-family: "Didot";
    src: url(../fonts/Didot.ttf);
}



html.backdrop {
background-repeat: no-repeat;
background: #ffd7d6; /* Old browsers */
background: -moz-linear-gradient(top, #ffd7d6 0%, #e59b57 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffd7d6 0%,#e59b57 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffd7d6 0%,#e59b57 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd7d6', endColorstr='#e59b57',GradientType=0 ); /* IE6-9 */


  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrapper {
  width: 95%;
  margin-left: auto ;
  margin-right: auto ;
  min-height: 100%;
  height: auto;
}

body {
  margin: 0;
  display: block;
}



html, body {position: relative}


div.slice {
  width: 979px;
  height: 300px;
  margin-top: 400px;
  margin-left: auto ;
  margin-right: auto ;
  padding: 10px;
  margin-top: 250px;


}


div.wrapper.S {
  width: 177px;
  height: 253px;

}  

div.wrapper.L {
  width: 190px;
  height: 255px;
}  

div.wrapper.I {
  width: 118px;
  height: 224px;
}  

div.wrapper.C {
  width: 193px;
  height: 257px;
}  

div.wrapper.E {
  width: 163px;
  height: 199px;
} 

.S img {
  padding-right: 30px;
}

.L img {
  padding-right: 30px;
}

.I img {
  padding-right: 30px;
}

.C img {
  padding-right: 30px;
}

div.slice img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
} 



div.build {
  text-align: center;
  font-family: "Didot", Arial;
  color: #000;
  padding-top: 79px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

/* DRAGGABLE SECTION */

#containment-wrapper {
  width: 1067px;
  height: 655px;
  background: url(../images/Collage2.jpg) no-repeat;
  margin-top: 400px;
  margin-left: auto ;
  margin-right: auto ;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 20px -4px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,1);
  box-shadow: 0px 0px 20px -4px rgba(0,0,0,1);
  position: relative;
}


div.drag {
  width: 950px;
  height: 655px;
  background-color: white;
  margin-top: 276px;
  margin-left: auto ;
  margin-right: auto ;
  padding: 10px;
}

.collage1, .collage2, .collage3 {
  z-index: 0;
}

.draggable
{
    position: absolute; 
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;   

    cursor: hand; 
    cursor: pointer;       
}

.top {z-index: 2; position: relative}

.bottom {z-index: 1; position: relative}

.resizable
{
    width: 100px;     
}
.resizable img
{
    width: 100%;
 
}

.ui-resizable-handle
{
    background: #ccc;
    width: 11px;
    height: 11px;
    z-index: 2;
}
.ui-resizable-se
{
    right: -5px;
    bottom: -5px;
}

.ui-rotatable-handle 
{
    background: #f5dc58;
    border: 1px solid #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    
    height:        10px;
    left:          50%;
    margin:        0 0 0 -5px;
    position:      absolute;
    top:           -5px;
    width:         10px;
}
.ui-rotatable-handle.ui-draggable-dragging
{
    visibility:  hidden;
}

/* BOTTOM SECTION */

#bottom {
  margin-top: 191px;
  margin-right: auto;
  text-align: center;
  height: auto;
}

span.bottom1 {
font-family: "Didot", serif;
color: white;
letter-spacing: 0.5em;
position: relative;
font-size: 20px;
text-transform: uppercase;
}

span.bottom2 {
z-index: 1;
font-family: "Alamain", cursive;
color: white;
letter-spacing: .15em;
position: relative;
font-size: 28px;

}

span.bottom3 {
  position: relative;
  bottom: 234px;
  z-index: -1;
  left: -14px;
}

/* FOOTER */


footer {
  position: relative;
  bottom: 20px
}
.ceb {
  float: right;
  margin-right: 15px;
  margin-bottom: 15px;
}


/* MEDIA QUERIES */

@media screen and (-webkit-min-device-pixel-ratio:0) { /* chrome */

html{

position: relative;

}

} @-moz-document url-prefix() { /* firefox */

body{

position: relative; overflow: auto;

}

} @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { /* ie10+ */

body{

position: relative; overflow: auto;

}

}


/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

  #bottom {
    width: 1087px;
  }  

  #wrapper {
    width: 111%;
  }  

}


/* ----------- iPhone 6 and 6S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  #bottom {
    width: 1087px;
  }  

  #wrapper {
    width: 111%;
  }

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

  #bottom {
    width: 1087px;
  }  

  #wrapper {
    width: 111%;
  }  

}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

   #bottom {
    width: 1087px;
  }  

  #wrapper {
    width: 111%;
  }   

}





